spring:
  application:
    name: CLRAIProducts

  ai:
    openai:
      api-key: ${OPENAI_API_KEY}
      chat:
        options:
          model: gpt-4o-mini
          temperature: 0.7
          max-tokens: 800

    mcp:
      client:
        enabled: true
        type: SYNC

        toolcallback:
          enabled: true

        sse:
          connections:
            product-mcp-server:
              url: http://localhost:8085
              sse-endpoint: /sse

  main:
    web-application-type: none

server:
  port: 8080
  address: 0.0.0.0

logging:
  level:
    org.springframework.ai: DEBUG